<div class="forcePlayerContainer">
    <h3>Force Players Teamates</h3>
    <div class="input-row">
        <div class="input-group">
          <label for="player1">Player 1:</label>
          <input
            type="text"
            id="player1"
            #player1Input
            [(ngModel)]="forceTeamatePlayer1"
            placeholder="Enter Player 1 name"
            class="player-input"
          />
        </div>

        <div class="input-group">
          <label for="player2">Player 2:</label>
          <input
            type="text"
            id="player2"
            #player2Input
            [(ngModel)]="forceTeamatePlayer2"
            placeholder="Enter Player 2 name"
            class="player-input"
          />
        </div>
        <button
            type="button"
            (click)="onSubmitForceTeamate()"
            [disabled]="!forceTeamatePlayer1 || !forceTeamatePlayer2"
            class="submit-button"
        >add
        </button>
    </div>
    <div class="playerChips" *ngIf="playerNames.length > 0">
        <button
            *ngFor="let name of playerNames"
            class="playerChip"
            [class.playerChipSelected1]="forceTeamatePlayer1 === name"
            [class.playerChipSelected2]="forceTeamatePlayer2 === name"
            (click)="onSelectForcePlayer(name)"
        >{{ name }}</button>
    </div>
    <table class="forcePlayerTable">
        <tr class="forcePlayerRow" *ngFor="let teamate of forceTeamates">
            <td> {{ teamate.player1 }} </td>:<td> {{ teamate.player2 }} </td> <button class="btn btn_small" (click)="onClickDeleteForceTeamate(teamate)">X</button>
        </tr>
    </table>
</div>

<div class="nemesisPlayersContainer">
    <h3>Nemesis Players Teamates</h3>
    <div class="input-row">
        <div class="input-group">
          <label for="player1">Player 1:</label>
          <input
            type="text"
            id="player1"
            #player1Input
            [(ngModel)]="nemesisTeamatePlayer1"
            placeholder="Enter Player 1 name"
            class="player-input"
          />
        </div>

        <div class="input-group">
          <label for="player2">Player 2:</label>
          <input
            type="text"
            id="player2"
            #player2Input
            [(ngModel)]="nemesisTeamatePlayer2"
            placeholder="Enter Player 2 name"
            class="player-input"
          />
        </div>
        <button
            type="button"
            (click)="onSubmitNemesisTeamate()"
            [disabled]="!nemesisTeamatePlayer1 || !nemesisTeamatePlayer2"
            class="submit-button"
        >add
        </button>
    </div>
    <div class="playerChips" *ngIf="playerNames.length > 0">
        <button
            *ngFor="let name of playerNames"
            class="playerChip"
            [class.playerChipSelected1]="nemesisTeamatePlayer1 === name"
            [class.playerChipSelected2]="nemesisTeamatePlayer2 === name"
            (click)="onSelectNemesisPlayer(name)"
        >{{ name }}</button>
    </div>
    <table class="nemesisPlayersTable">
        <tr class="nemesisPlayersRow" *ngFor="let teamate of nemesisTeamates">
            <td> {{ teamate.player1 }} </td>:<td> {{ teamate.player2 }} </td> <button class="btn btn_small" (click)="onClickDeleteNemesis(teamate)">X</button>
        </tr>
    </table>
</div>


<div class="shuffleModeContainer">
    <h3>Shuffle Mode</h3>
    <div class="shuffleModeButtons">
        <button class="shuffleModeBtn" [class.shuffleModeBtnActive]="shuffleMode === 'balanced'" (click)="setShuffleMode('balanced')">Balanced</button>
        <button class="shuffleModeBtn" [class.shuffleModeBtnActive]="shuffleMode === 'mixed'" (click)="setShuffleMode('mixed')">Mixed</button>
        <button class="shuffleModeBtn" [class.shuffleModeBtnActive]="shuffleMode === 'novel'" (click)="setShuffleMode('novel')">Novel</button>
        <button class="shuffleModeBtn" [class.shuffleModeBtnActive]="shuffleMode === 'auto'" (click)="setShuffleMode('auto')">Auto</button>
    </div>
    <p class="shuffleModeDesc" *ngIf="shuffleMode === 'balanced'">Pairs players within ±3 rank of each other.</p>
    <p class="shuffleModeDesc" *ngIf="shuffleMode === 'mixed'">Pairs best player with weakest; opposing team balances the rank sum.</p>
    <p class="shuffleModeDesc" *ngIf="shuffleMode === 'novel'">Prioritises pairings where players have never met before.</p>
    <p class="shuffleModeDesc" *ngIf="shuffleMode === 'auto'">Randomly picks: 40% Balanced, 40% Mixed, 20% Novel each shuffle.</p>
</div>

<button class="btn btnClearAllData" (click)="clearAllData()">
    Reset All Data
</button>
<button class="btn btnLogout" (click)="logout()">
    Logout
</button>
