<div class="body">
  <div class="inputContainer">
    <input
      class="input"
      type="text"
      #playerList
      placeholder="Player List"
      (keyup.enter)="addPlayerList(playerList.value)"
    />
    <button class="btn btnAddPlayer" (click)="addPlayerList(playerList.value)">
      Add Players
    </button>
  </div>
  <div class="matchList">
    <div class="courtContainer" *ngFor="let match of matchList; index as i">
      <div class="courtHeader">
        <button
          class="btn_small btn_court_delete"
          (click)="deleteCourt(i)"
        ></button>
        <h1>Court {{ i + 1 }}</h1>
      </div>
      <div class="court">
        <button
          class="btn btn_tean_win"
          [ngClass]="{
            btn_positive: match.teamA.player1.name !== '' 
            && match.status === courtStatus.PLAYING
            && match.whoWon === 'teamA'
          }"
          (click)="onClickConfirmWinningTeam(match, 'teamA')"
        ></button>
        <div
          class="team"
          [ngClass]="{
            courtStatusPlaying: match.status === courtStatus.PLAYING,
            courtStatusAvailable: true
          }"
        >
          <div class="player">
            <h3>{{ match.teamA.player1.name }}</h3>
          </div>
          <div class="player">
            <h3>{{ match.teamA.player2.name }}</h3>
          </div>
        </div>
        <div class="vl"></div>
        <div
          class="team"
          [ngClass]="{
            courtStatusPlaying: match.status === courtStatus.PLAYING,
            courtStatusAvailable: true
          }"
        >
          <div class="player">
            <h3>{{ match.teamB.player1.name }}</h3>
          </div>
          <div class="player">
            <h3>{{ match.teamB.player2.name }}</h3>
          </div>
        </div>
        <button
          class="btn btn_tean_win"
          [ngClass]="{
            btn_positive: match.teamA.player1.name !== '' 
             && match.status === courtStatus.PLAYING
             && match.whoWon === 'teamB'
          }"
          (click)="onClickConfirmWinningTeam(match, 'teamB')"
        ></button>
      </div>
      <div class="courtOrganizer">
        <button
          class="btn btn_court_free"
          [ngClass]="{
            btn_negative: match.teamA.player1.name !== ''
          }"
          (click)="freeCourt(i)"
        ></button>
        <button
          class="btn btn_court_team_swap"
          (click)="swapTeamates(match)"
        ></button>
      </div>
    </div>
    <div class="btnContainer">
      <button class="btn_large btn_court_add" (click)="addCourt()"></button>
      <button
        class="btn_large btn_court_confirm"
        (click)="confirmCourts()"
      ></button>
      <button
        class="btn_large btn_court_shuffle"
        (click)="shufflePlayersIntoCourt()"
      ></button>
    </div>
    <div class="standbyContainer">
      <h2>Standby</h2>
      <div class="playerStandby" *ngFor="let player of standbyList">
        <div
          class="player"
          [ngClass]="{
            playerStatusBreak: player.status === playerStatus.BREAK,
            playerStatusSelected: player.status === playerStatus.SELECTED,
            playerStatusReady: true
          }"
          (click)="changePlayerStatus(player.name)"
        >
          <h4>{{ player.name }}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="playerHistoryContainer">
    <h2>Partner History</h2>
    <table class="playerHistoryTable">
      <tr class="playerHistory" *ngFor="let player of getPlayerList()">
        <td>
          {{ player.name }}[P:{{ player.totalRoundsPlayed }}][G:{{
            player.actualTotalRoundsPlayed
          }}]:
        </td>
        <td>{{ player.teamateHistory.join(", ") }}</td>
      </tr>
    </table>
  </div>
  <div class="matchHistoryContainer">
    <h2>Match History</h2>
    <table>
      <tr class="matchHistory" *ngFor="let match of matchHistory; index as i">
        <td>{{ i }}) {{ getMatchTime(match) }}</td>
        <td>
          [{{ match.teamA.player1.name }}, {{ match.teamA.player2.name }}]
        </td>
        :
        <td>
          [{{ match.teamB.player1.name }}, {{ match.teamB.player2.name }}]
        </td>
      </tr>
    </table>
  </div>
  <div class="opponentHistoryContainer">
    <h2>Opponents History</h2>
    <table class="opponentHistoryTable">
      <tr class="opponentHistory" *ngFor="let each of getOpponentHistory()">
        <td>{{ each.name }}:</td>
        <td>{{ each.opponents.join(", ") }}</td>
      </tr>
    </table>
  </div>
  <div class="btnDownloadLog">
    <button class="btn btn_download_log" (click)="downloadLog()">
      Download Log
    </button>
  </div>
</div>
<br />
<br />
<br />
<app-bill [players]="getPlayerList()"></app-bill>
