* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  font-family: sans-serif;
  font-size: small;
  /* margin: 0 auto; */
  /* background-color: #f6f0e4; */
  padding: 5px;
}
.btn {
  height: 25px;
  width: auto;
}
.btn-small {
  height: 17.5%;
  width: 17.5%;
  padding: 0 0;
  border: none;
  background: none;
}
.inputContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 35px;
}

.playerListContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.previousPlayerContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 40px;
}

.playerContainer {
  position: relative;
  display: inline-block;
  width: 100px;
  border: solid black;
  padding: 5px;
}
.playerContainerHighlight {
  background-color: #a5e9e8;
}

.playerHeader {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: start;
  margin-top: 5px;
  border-bottom: solid black;
}
.playerHeader h2 {
  overflow-wrap: anywhere;
}
.previousPlayerHeader {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: start;
  margin-top: 5px;
}
.previousPlayerHeader h2 {
  overflow-wrap: anywhere;
}
.btn-delete {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2px;
  border: none;
  height: 10px;
  width: 10px;
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg" fill="%23000000"><g id="SVGRepo_iconCarrier"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Icon-Set-Filled" transform="translate(-469.000000, -1041.000000)" fill="%23000000"><path d="M487.148,1053.48 L492.813,1047.82 C494.376,1046.26 494.376,1043.72 492.813,1042.16 C491.248,1040.59 488.712,1040.59 487.148,1042.16 L481.484,1047.82 L475.82,1042.16 C474.257,1040.59 471.721,1040.59 470.156,1042.16 C468.593,1043.72 468.593,1046.26 470.156,1047.82 L475.82,1053.48 L470.156,1059.15 C468.593,1060.71 468.593,1063.25 470.156,1064.81 C471.721,1066.38 474.257,1066.38 475.82,1064.81 L481.484,1059.15 L487.148,1064.81 C488.712,1066.38 491.248,1066.38 492.813,1064.81 C494.376,1063.25 494.376,1060.71 492.813,1059.15 L487.148,1053.48" id="cross"></path></g></g></g></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.playerBody {
  height: 30%;
  font-size: large;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-between;
}
.playerBody h2 {
  margin: 0;
  padding-right: 5px;
}
.playerBodyGame {
  height: 30%;
  font-size: large;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-between;
}
.playerBodyGame h2 {
  margin: 0;
  padding-right: 5px;
}
/* https://www.schemecolor.com/roaming-on-the-campus.php */
.leastPlayedPlayer {
  color: #c32b42;
}
.mostPlayedPlayer {
  color: #f7a007;
}
.Player {
  color: #262e57;
}

/* Icon classes using CSS background-image */
.btn-subtract {
  background-image: url('data:image/svg+xml,<svg viewBox="0 -12 32 32" xmlns="http://www.w3.org/2000/svg" fill="%23000000"><g id="SVGRepo_iconCarrier"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Icon-Set-Filled" transform="translate(-414.000000, -1049.000000)" fill="%23000000"><path d="M442,1049 L418,1049 C415.791,1049 414,1050.79 414,1053 C414,1055.21 415.791,1057 418,1057 L442,1057 C444.209,1057 446,1055.21 446,1053 C446,1050.79 444.209,1049 442,1049" id="minus"></path></g></g></g></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 12px;
  width: 17.5%;
}

.btn-add {
  background-image: url('data:image/svg+xml,<svg fill="%23000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 349.03 349.031"><g id="SVGRepo_iconCarrier"><g><path d="M349.03,141.226v66.579c0,5.012-4.061,9.079-9.079,9.079H216.884v123.067c0,5.019-4.067,9.079-9.079,9.079h-66.579 c-5.009,0-9.079-4.061-9.079-9.079V216.884H9.079c-5.016,0-9.079-4.067-9.079-9.079v-66.579c0-5.013,4.063-9.079,9.079-9.079 h123.068V9.079c0-5.018,4.069-9.079,9.079-9.079h66.579c5.012,0,9.079,4.061,9.079,9.079v123.068h123.067 C344.97,132.147,349.03,136.213,349.03,141.226z"></path></g></g></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 15px;
  width: 20%;
}
.btn-add-big {
  background-image: url('data:image/svg+xml,<svg fill="%23000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 349.03 349.031"><g id="SVGRepo_iconCarrier"><g><path d="M349.03,141.226v66.579c0,5.012-4.061,9.079-9.079,9.079H216.884v123.067c0,5.019-4.067,9.079-9.079,9.079h-66.579 c-5.009,0-9.079-4.061-9.079-9.079V216.884H9.079c-5.016,0-9.079-4.067-9.079-9.079v-66.579c0-5.013,4.063-9.079,9.079-9.079 h123.068V9.079c0-5.018,4.069-9.079,9.079-9.079h66.579c5.012,0,9.079,4.061,9.079,9.079v123.068h123.067 C344.97,132.147,349.03,136.213,349.03,141.226z"></path></g></g></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 17.5%;
}
