<div class="body">
  <div class="inputContainer">
    <textarea [(ngModel)]="playerTextArea" class="textArea" placeholder="Player" (keydown.enter)="onAddPlayerTextArea()"></textarea>
    <button class="btn btnAddPlayer" (click)="onAddPlayerTextArea()">
      Add Players
    </button>
  </div>
  <h1> Player List</h1><br>
  <div class="playerListContainer">
    <div *ngFor="let player of getPlayerList()">
      <div
        class="playerContainer"
        [ngClass]="{
          playerContainerHighlight: player.isPreviouslyInteracted
        }"
      >
        <div class="playerHeader">
          <h2>{{ player.name }}</h2>
          <button
            class="btn-small btn-delete"
            (click)="deletePlayer(player.name)"
          ></button>
        </div>
        <div class="playerBody">
          <button
            class="btn-small btn-subtract"
            (click)="subtractRoundsPlayed(player.name)"
          ></button>
          <h2
            [ngClass]="{
              leastPlayedPlayer:
                player.totalRoundsPlayed === status.leastPlayed,
              mostPlayedPlayer: player.totalRoundsPlayed === status.mostPlayed,
              Player:
                player.totalRoundsPlayed !== status.leastPlayed &&
                player.totalRoundsPlayed !== status.mostPlayed
            }"
          >
            {{ player.totalRoundsPlayed }}
          </h2>
          <button
            class="btn-small btn-add"
            (click)="addRoundsPlayed(player.name)"
          ></button>
        </div>
        <div class="playerBodyGame">
          <button
            class="btn-small btn-subtract"
            (click)="subtractActualGamesPlayed(player.name)"
          ></button>
          <h2 class="Player">
            {{ player.actualTotalRoundsPlayed }}
          </h2>
          <button
            class="btn-small btn-add"
            (click)="addActualGamesPlayed(player.name)"
          ></button>
        </div>
      </div>
      <!-- <h3>Total Rounds Wons: {{ player.totalRoundsWon }}</h3> -->
    </div>
  </div>
  <h1> Previous Players</h1><br>
  <div class="playerListContainer">
    <div *ngFor="let playerName of getPreviousPlayerList()">
      <div class="previousPlayerContainer">
          <h2>{{ playerName }}</h2>
          <button
            class="btn-small btn-add"
            (click)="addPreviousPlayerToList(playerName)"
          ></button>
    </div>
  </div>
</div>
